Repository LeeHanYeong/django-quill-editor: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, poetry-export

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
        files: .*\.py

      - id: trailing-whitespace
        files: .*\.py

  - repo: local
    hooks:
      - id: black
        name: black
        description: "Black: The uncompromising Python code formatter"
        entry: black
        language: python
        language_version: python3
        require_serial: true
        types: [ python ]

      - id: poetry-export
        name: Poetry export requirements
        language: system
        entry: bash -c '
          poetry export --without-hashes -o requirements.txt &&
          poetry export --without-hashes --dev -o requirements_dev.txt &&
          git add requirements*.txt'
        files: pyproject.toml|poetry.lock

Update pyproject.toml
  pyproject.toml
Due: poetry-export

Pass class attribute through and set it, so that QuillField can interoperate with Bootstrap validation. (#86)
  django_quill/templates/django_quill/widget.html
  django_quill/widgets.py
Due: black

Note on XSS attacks
  README.md
Due: none

PyPI package update(0.1.42)
  version.txt
Due: none

playground settings
  .deploy/gunicorn_local.py
  Dockerfile
  Dockerfile.deploy
  docker-compose.yml
Due: black

feat: Add scrollable content field with body scroll lock in Django admin
  django_quill/static/django_quill/django_quill.css
  django_quill/static/django_quill/django_quill.js
Due: none
