Repository LeeHanYeong/django-quill-editor: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, poetry-export

black:
  name: black
  description: 'Black: The uncompromising Python code formatter'
  entry: black
  language: python
  language_version: python3
  require_serial: true

poetry-export:
  name: Poetry export requirements
  language: system
  entry: bash -c ' poetry export --without-hashes -o requirements.txt && poetry export --without-hashes --dev -o requirements_dev.txt && git add requirements*.txt'

change quill-image-compress path
  django_quill/config.py
  version.txt
Due: black

Apply quill-resize module
  django_quill/config.py
  django_quill/static/django_quill/django_quill.css
  django_quill/static/django_quill/django_quill.js
  django_quill/templates/django_quill/media.html
  version.txt
Due: black

added htmlEditButton module
  django_quill/config.py
  django_quill/static/django_quill/django_quill.js
Due: black

changed comments to quill-html-edit-button
  django_quill/config.py
Due: black

added quill-better-table
  django_quill/config.py
  django_quill/static/django_quill/django_quill.js
  django_quill/templates/django_quill/widget.html
Due: black

fix button type and enable table
  django_quill/config.py
  django_quill/templates/django_quill/widget.html
Due: black

fix table
  django_quill/static/django_quill/django_quill.js
  django_quill/templates/django_quill/widget.html
Due: none

fix table
  django_quill/config.py
  django_quill/static/django_quill/django_quill.js
  django_quill/templates/django_quill/widget.html
Due: black

fix table
  django_quill/config.py
Due: black

fix table
  django_quill/static/django_quill/django_quill.css
  django_quill/templates/django_quill/widget.html
Due: none

Pass class attribute through and set it, so that QuillField can interoperate with Bootstrap validation.
  django_quill/templates/django_quill/widget.html
  django_quill/widgets.py
Due: black

Update poetry packages
  poetry.lock
  requirements.txt
  requirements_dev.txt
Due: poetry-export

Fix error in playground app
  django_quill/static/django_quill/django_quill.js
  playground/config/settings.py
Due: black

Change deploy settings of the playground app
  .deploy/.env.local
  .deploy/.env.production
  .deploy/docker-compose.yml
  .deploy/init.sh
  .deploy/nginx/cert.nginx
  .deploy/nginx/local.nginx
  .deploy/nginx/nginx.conf
  .deploy/nginx/production.nginx
  .deploy/quill.conf
  Dockerfile
  Dockerfile.deploy
  README.md
  docker-compose-local.yml
  docker-compose.yml
  playground/config/settings.py
  playground/posts/models.py
  pyproject.toml
Due: black, poetry-export

Tracking quill objects in outer scope (#95)
  django_quill/static/django_quill/django_quill.js
  django_quill/templates/django_quill/widget.html
Due: none

Updated django dependency
  pyproject.toml
Due: poetry-export

Returning delta on str
  django_quill/fields.py
Due: black

Update pyproject.toml
  pyproject.toml
Due: poetry-export

Update django_quill.js
  django_quill/static/django_quill/django_quill.js
Due: none

playground update
  Dockerfile
  Dockerfile.deploy
  poetry.lock
  pyproject.toml
  requirements.txt
  requirements_dev.txt
Due: poetry-export

playground update
  Dockerfile
  Dockerfile.deploy
  playground/config/settings.py
  playground/posts/migrations/0001_initial.py
  poetry.lock
  pyproject.toml
  requirements.txt
  requirements_dev.txt
Due: black, poetry-export

fix convert_to_quill command - adding only "field_name" to queryset
  django_quill/management/commands/convert_to_quill.py
Due: black

do not include MEDIA_JS in QuillWidget
  django_quill/widgets.py
Due: black

Revert "do not include MEDIA_JS in QuillWidget"
  django_quill/widgets.py
Due: black

Use only() instead of all().only()
  django_quill/management/commands/convert_to_quill.py
Due: black

fix convert_to_quill command - adding only (#119)
  django_quill/management/commands/convert_to_quill.py
Due: black

Django admin UI fix (#74)
  django_quill/templates/django_quill/widget.html
Due: none

docker-compose playground setting & doc update
  README.md
  docker-compose.yml
Due: none

Applied Django 4.2, update related libraries and test code
  LICENSE
  README.md
  playground/config/__init__.py
  playground/config/settings.py
  playground/config/urls.py
  playground/posts/tests.py
  poetry.lock
  pyproject.toml
  pytest.ini
  requirements.txt
  requirements_dev.txt
  setup.py
  version.txt
Due: black, poetry-export

Update drf and other libraries
  poetry.lock
  pyproject.toml
  requirements.txt
  requirements_dev.txt
Due: poetry-export

Returning delta on str (#99)
  django_quill/fields.py
Due: black

Delete pyproject.toml
  pyproject.toml
Due: poetry-export

Path conditions:
  black: any of: \.py$
  poetry-export: any of: pyproject.toml|poetry.lock
