Repository LeeHanYeong/django-quill-editor: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, poetry-export

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
        files: .*\.py

      - id: trailing-whitespace
        files: .*\.py

  - repo: local
    hooks:
      - id: black
        name: black
        description: "Black: The uncompromising Python code formatter"
        entry: black
        language: python
        language_version: python3
        require_serial: true
        types: [ python ]

      - id: poetry-export
        name: Poetry export requirements
        language: system
        entry: bash -c '
          poetry export --without-hashes -o requirements.txt &&
          poetry export --without-hashes --dev -o requirements_dev.txt &&
          git add requirements*.txt'
        files: pyproject.toml|poetry.lock

Update Poetry packages
  poetry.lock
  requirements.txt
  requirements_dev.txt
Due: poetry-export

Playground update
  playground/config/apps.py
  playground/config/asgi.py
  playground/config/settings.py
  playground/config/urls.py
  playground/config/views.py
  playground/config/wsgi.py
  playground/django_quill
  playground/posts/tests.py
Due: black

Update project configuration
  poetry.lock
  pyproject.toml
Due: poetry-export

Bump version
  pyproject.toml
Due: poetry-export

Update project
  CHANGELOG.md
  Makefile
  README.md
  django_quill/templates/django_quill/widget.html
  poetry.lock
  pyproject.toml
  testproject/poetry.lock
  testproject/pyproject.toml
  testproject/start_development.sh
  testproject/testproject/settings.py
Due: black, poetry-export

Change pypi upload logic, upgrade bootstrap5, apply quill-image-compressor
  MANIFEST.in
  deploy.py
  django_quill/config.py
  django_quill/static/django_quill/django_quill.js
  django_quill/templates/django_quill/media.html
  django_quill/templates/django_quill/widget.html
  playground/config/settings.py
  playground/posts/views.py
  playground/static/bootstrap.min.css
  playground/templates/base.html
  playground/templates/posts/base_posts.html
  poetry.lock
  pyproject.toml
  version.txt
Due: black, poetry-export

fix admin import errors #65
  deploy.py
  django_quill/config.py
  django_quill/widgets.py
  version.txt
Due: black

Add deploy configs
  .deploy/docker-compose.yml
  .deploy/gunicorn.py
  .deploy/init.sh
  .deploy/nginx/cert.nginx
  .deploy/nginx/local.nginx
  .deploy/nginx/production.nginx
  .pre-commit-config.yaml
  .scripts/make_dockerfile.py
  Dockerfile
  Dockerfile.deploy
  README.md
  docker-compose-local.yml
  docker-compose.yml
  playground/config/settings.py
  playground/static/favicon.ico
  poetry.lock
  pyproject.toml
  requirements.txt
  requirements_dev.txt
Due: black, poetry-export

update playground meta tags
  playground/templates/base.html
Due: none

docker-compose fix
  docker-compose-local.yml
  docker-compose.yml
  version.txt
Due: none

Register a signal so that the maximum number of posts in the playground does not exceed 10
  playground/posts/apps.py
  playground/posts/signals.py
Due: black

update docker-compose nginx
  .deploy/nginx/nginx.conf
  docker-compose-local.yml
  docker-compose.yml
Due: none

Update README.md, login/logout redirect change
  .gitignore
  README.md
  playground/config/settings.py
Due: black

force_text has been deprecated since Django 3.0, in 4.0 it has been removed: https://docs.djangoproject.com/en/4.0/releases/4.0/#features-removed-in-4-0
  django_quill/widgets.py
Due: black

Add the quill-image-resize module
  django_quill/config.py
  django_quill/templates/django_quill/media.html
  django_quill/templates/django_quill/widget.html
  version.txt
Due: black

Use jpeg compression in image-compressor
  django_quill/config.py
  django_quill/templates/django_quill/media.html
  version.txt
Due: black

quill-image-compressor version update
  django_quill/config.py
  django_quill/templates/django_quill/media.html
  playground/config/settings.py
  version.txt
Due: black

refactor readme
  README.md
Due: none

refactore for docker
  Dockerfile
  Dockerfile.deploy
  docker-compose-local.yml
  docker-compose.yml
Due: none

Refactor to UEditor
  django_UEditor/templates/django_ueditor/media.html
  django_UEditor/templates/django_ueditor/widget.html
  django_quill/config.py
  django_quill/fields.py
  django_quill/widgets.py
Due: black

update the version
  version.txt
Due: none

update
  django_UEditor/UEditor.py
Due: black

Delete UEditor.py
  django_UEditor/UEditor.py
Due: black

update file name
  django_UEditor/ueditor.py
Due: black

Add "convert_to_quill" Command, add test and document
  .gitignore
  django_quill/management/__init__.py
  django_quill/management/commands/__init__.py
  django_quill/management/commands/convert_to_quill.py
  django_quill/templates/django_quill/widget.html
  docs/index.rst
  docs/pages/migrating-to-quillfield.md
  playground/config/settings.py
  playground/posts/migrations/0002_nonquillpost.py
  playground/posts/models.py
  playground/posts/tests.py
  version.txt
Due: black

Add QuillHtmlField and QuillPlainField to integrate with DRF
  django_quill/drf/__init__.py
  django_quill/drf/fields.py
  django_quill/fields.py
  django_quill/management/commands/convert_to_quill.py
  django_quill/quill.py
  docs/pages/rest-framework.md
  playground/config/settings.py
  playground/config/urls.py
  playground/posts/apis.py
  playground/posts/serializers.py
  poetry.lock
  pyproject.toml
  requirements.txt
  requirements_dev.txt
  version.txt
Due: black, poetry-export

Fix css
  django_quill/static/django_quill/django_quill.css
  version.txt
Due: none

Fix conver_to_quill management command
  django_quill/management/commands/convert_to_quill.py
  version.txt
Due: black

feature: release automation
  .github/release-drafter.yml
  .github/workflows/deploy.yml
  .github/workflows/release_drafter.yml
Due: none

feature: update poetry build system
  pyproject.toml
Due: poetry-export

migration command fix
  docs/pages/migrating-to-quillfield.md
Due: none

migration command fix (#73)
  docs/pages/migrating-to-quillfield.md
Due: none

Update poetry packages
  poetry.lock
  requirements.txt
  requirements_dev.txt
  version.txt
Due: poetry-export

Django admin UI fix
  django_quill/templates/django_quill/widget.html
Due: none

Update poetry packages
  poetry.lock
  pyproject.toml
  requirements.txt
Due: poetry-export
